.main{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 64px;
}

.nav_item p{
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-top: 8px;
}

.categories{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 150px;
}

.first_col{
    width: 45%;
    display: flex;
    flex-direction: column;
}

.second_col{
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 110px;
}

.categ{
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
}

.row{
    display: flex;
    flex-direction: row;
    margin-bottom: 46px;
}

.row p{
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-left: 20px;
}

.categ_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #656565
}

.row1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 46px;
}

.row1 p{
    margin: 0 !important;
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-right: 20px !important;
}

.contact_wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 64px;
}

.contact_row p{
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #F1AD04;
    margin-left: 20px ;
}

.description{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.description div{
    display: flex;
    flex-direction: column;
}

.description span{
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #4E4E4E;
    margin-bottom: 14px;
}

.romb_wrapper{
    width: 658px;
    height: 585px;
    margin: 115px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.romb_wrapper a{
    right: 210px;
    bottom: -90px;
    position: relative;
    width: 191px;
    height: 193px;
}

.romb_wrapper img{
    position: relative;
    border-radius: 8px;
    box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.4), 2px -2px 0px #FAFAFA;
}

.big_rectangle{
    background: #E5E8E9;
    border-radius: 8px;
    box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.4), 2px -2px 0px #FAFAFA;
    position: relative;
}

.small_rectangle{
    background: #E5E8E9;
    border-radius: 4px;
    box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.4), 2px -2px 0px #FAFAFA;
    position: relative;
}

.first_img{
    left: 116px;
    width: 120px;
    height: 122px;
}

.second_img{
    width: 120px;
    height: 122px;
    left: 230px;
    top: 53px;
}

.third_img{
    width: 120px;
    height: 122px;
    bottom: 100px;
    left: 400px;
}

.fourth_img{
    width: 120px;
    height: 122px;
    top: 90px;
    right: 35px;
}

.fifth_img{
    width: 191px;
    height: 193px;
}

